<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./js/vue.js"></script>
</head>

<body>
    <div id="root">
        <h2>学校信息</h2>
        <p>学校名称：{{name}}</p>
        <p>学校名称：{{address}}</p>
        <hr />
        <h2>学生信息</h2>
        <button @click='addString'>添加一个属性，默认值是男</button>
        <p>姓名：{{student.name}}</p>
        <p>年龄：真实年龄：{{student.age.rAge}} 虚假年龄：{{student.age.rAge}}</p>
        <!-- v-if = 'student.sex' (当这个属性存在时显示) -->
        <p v-if='student.sex'>性别：{{student.sex}}</p>
        <hr />
        <ul>
            <!-- 循环获得数组对象 -->
            <li v-for='(val,index) in friends' :key="index">{{val.name}}--{{val.age}}</li>
        </ul>
    </div>
    <script>
        //生产环境提示关闭
        Vue.config.productionTip = false;
        const vm = new Vue({
            //指定容器
            el: '#root',
            //数据绑定
            data: {
                name: 'atguigu',
                address: '北京',
                student: {
                    name: 'tom',
                    age: {
                        rAge: 40,
                        sAge: 29,
                    },
                },
                friends: [
                    { name: 'jery', age: 35 },
                    { name: 'tony', age: 28 },
                ],
            },
            methods: {
                //添加一个属性，默认值是男
                addString() {
                    // 添加一个属性为男
                    //两种写法：
                    // this.$set(vm.student, 'sex', '男');
                    Vue.set(vm._data.student, 'sex', '女');
                }
            }
        })

    </script>
</body>

</html>